

TransportManagment.API/.vs

TransportManagment.API/TransportManagmentAPI/bin
TransportManagment.API/TransportManagmentAPI/obj

TransportManagment.API/TransportManagmentImplementation/bin
TransportManagment.API/TransportManagmentImplementation/obj

TransportManagment.API/TransportManagmentInfrustructure/bin
TransportManagment.API/TransportManagmentInfrustructure/obj


TransportManagment.UI/node_modules

TransportManagment.UI/.angular
TransportManagment.UI/package-lock.json

